<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="static\css\style.css">
</head>
<body>
    <div class="main-container">
        <span class="title">music editor [ now playing ... ]</span>

        <div class="main-section">
            <div class="path-container-grid">
                <div class="path-container">
                    <label for="folder-browser-input"></label>    
                    <form action="/load" method="post" class="form-submit">
                        <span>
                        <input id="folder-browser-input" type="text" name="path" placeholder="C:/Users">
                        </span>  
                        <span>
                        <input type="hidden" name="folder_path" id="selected-path">
                        <button type="submit" id="load-library"><img src="static/imgs/search.png"></button>
                        </span>
                    </form>
                </div>
                <div id="suggestions"></div>
            </div>

        
        <div class="music-data-container">
        <table>
            <tr>
                <th>Artist</th>
                <th>Title</th>
                <th>Album</th>
                <th>Track Number</th>
                <th>Date</th>
                <th>Edit</th>
            </tr>
                {% for song in data %}
            <tr>
                    <td>{{ song['Artist'] }}</td>
                    <td>{{ song['Title'] }}</td>
                    <td>{{ song['Album'] }}</td>
                    <td>{{ song['Track Number'] }}</td>
                    <td>{{ song['Date'] }}</td>
                    <td><a href="/edit?path={{ song['Path'] }}">Edit</a></td>
            </tr>
                {% endfor %}   
                
        </table>
        </div>
        </div>
    </div>
<script src="static\js\main.js"></script>

</body>
</html>